*.pdb
*.cache
*.cachefile
*.dll

packages/

TestResults/

ThirdParties/Primitives2D/obj/
ThirdParties/Primitives2D/bin/
ThirdParties/FileSearcher/bin/
ThirdParties/FileSearcher/obj/

MetaMind.Engine/obj/
MetaMind.Engine/bin/
MetaMind.EngineProcessor/obj/
MetaMind.EngineProcessor/bin/
MetaMind.EngineBuilder/MetaMind.EngineBuilder/bin/
MetaMind.EngineBuilder/MetaMind.EngineBuilder/obj/
MetaMind.EngineBuilder/MetaMind.EngineBuilderContent/obj/

MetaMind.EngineTest/bin/
MetaMind.EngineTest/obj/

MetaMind.TestimonyBuilder/MetaMind.TestimonyBuilder/bin/
MetaMind.Testimony/bin/
MetaMind.Testimony/obj/
MetaMind.TestimonyBuilder/MetaMind.TestimonyBuilder/obj/
MetaMind.TestimonyBuilder/MetaMind.TestimonyBuilderContent/obj/
MetaMind.TestimonyTest/obj/
MetaMind.TestimonyTest/bin/
MetaMind.TestimonyBuilder/MetaMind.TestimonyBuilderContent/bin/
MetaMind.TestimonyBuilder/MetaMind.TestimonyBuilderContent/Audio/

MetaMind.Acutance/bin/
MetaMind.AcutanceBuilder/MetaMind.AcutanceBuilder/obj/
MetaMind.AcutanceBuilder/MetaMind.AcutanceBuilderContent/obj/
MetaMind.Acutance/obj/
MetaMind.AcutanceTest/obj/
MetaMind.AcutanceTest/bin/
MetaMind.v12.suo
MetaMind.AcutanceBuilder/MetaMind.AcutanceBuilder/bin/
