*.pdb
*.cache
MetaMind.Engine/obj/
MetaMind.Engine/bin/
MetaMind.EngineProcessor/obj/
ThirdParty/C3.Primitives2D/obj/
ThirdParty/C3.Primitives2D/bin/
MetaMind.EngineProcessor/bin/
MetaMind.Perseverance/bin/
MetaMind.EngineBuilder/MetaMind.EngineBuilder/bin/
MetaMind.EngineBuilder/MetaMind.EngineBuilder/obj/
*.cachefile
MetaMind.PerseveranceBuilder/MetaMind.PerseveranceBuilder/bin/
MetaMind.Perseverance/obj/
MetaMind.PerseveranceBuilder/MetaMind.PerseveranceBuilder/obj/
MetaMind.PerseveranceBuilder/MetaMind.PerseveranceBuilderContent/obj/
MetaMind.EngineBuilder/MetaMind.EngineBuilderContent/obj/
MetaMind.Engined/bin/
MetaMind.Engined/obj/x86/Debug/MetaMind.Engine.csproj.FileListAbsolute.txt
MetaMind.PerseveranceUnitTest/obj/
*.dll
MetaMind.PerseveranceUnitTest/bin/
MetaMind.PerseveranceBuilder/MetaMind.PerseveranceBuilderContent/Textures/Screens/Background/Thumbs.db
MetaMind.Design/
MetaMind.PerseveranceBuilder/MetaMind.PerseveranceBuilderContent/Textures/UIs/Thumbs.db
MetaMind.EngineUnitTest/bin/
MetaMind.EngineBuilder/MetaMind.EngineBuilderContent/Textures/Screens/Thumbs.db
MetaMind.EngineBuilder/MetaMind.EngineBuilderContent/Textures/Thumbs.db
MetaMind.EngineUnitTest/obj/
MetaMind.PerseveranceBuilder/MetaMind.PerseveranceBuilderContent/bin/
MetaMind.PerseveranceBuilder/MetaMind.PerseveranceBuilderContent/Audio/
