*.pdb
*.cache
*.cachefile
*.dll
*.xap
*.xgs
*.xsb
*.xwb

packages/

TestResults/

ThirdParties/Primitives2D/obj/
ThirdParties/Primitives2D/bin/
ThirdParties/FileSearcher/bin/
ThirdParties/FileSearcher/obj/

MetaMind.Engine/Content/obj/
MetaMind.Engine/Content/Audio/
MetaMind.Engine/obj/
MetaMind.Engine/bin/
MetaMind.EngineProcessor/Content/obj/
MetaMind.EngineProcessor/obj/
MetaMind.EngineProcessor/bin/

MetaMind.EngineTest/bin/
MetaMind.EngineTest/obj/

MetaMind.Testimony/bin/
MetaMind.Testimony/obj/
MetaMind.Testimony/Content/obj/
MetaMind.Testimony/Content/Audio/
MetaMind.TestimonyTest/obj/
MetaMind.TestimonyTest/bin/

MetaMind.Acutance/bin/
MetaMind.Acutance/obj/
MetaMind.AcutanceTest/obj/
MetaMind.AcutanceTest/bin/

MetaMind.v12.suo
